DATABASE_URL="postgresql://rpenflmxxyzzcxkranhh:Inalumsps12@aws-1-ap-northeast-1:6543/postgres?sslmode=require"
JWT_SECRET="dd484e5d1c9c447ff34031b491cbd569eb77f3c9b7e8139e227810a918e8970e"
JWT_EXPIRES_IN="7d"
PORT=3001
